$background: #e74c3c;
$select-color: #000000;
$select-background: #c0392b;
$select-width: 100%;
$select-height: 40px; 


#skm-select-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}

